@model MotelManagement.Models.Room;
<html>
<head>
	<link rel="stylesheet" href="~/css/details.css" />
</head>

<body>
	<h1 class="mainTitle">Room Details</h1>

	<div class="topDetailHolder">
		<div class="mainRoomImageHolder">
			<img src="" />
		</div>
		<div class="roomTitleDataHolder">
			<h2 class="roomTitle">Lorem ipsum dolor sit amet, consectetur <span>Available</span></h2>
			<p class="roomType">Sed ut perspiciatis unde</p>
		</div>
		<p class="roomTitleCost">₦@Model.Amount</p>
	</div>
	<div class="roomDetailHolder">
		<h3 class="roomDetailHolder_title">Room Details</h3>
	</div>
</body>
</html>